.app__header {
  background-color: $contrast-dominant;
  color: $subdominant;
}
.app__header h1 {
  margin: 0 5px;
  text-align: center;
  font-family: Syncopate;
  font-weight: 100;
  font-size: 50px;
  line-height: 50px
}
.app__header a {
  line-height: 30px;
  margin: 0 5px;
  color: inherit;
  &:hover {
    color: $pop;
  }
  &:last-of-type {
    right: 0;
    position: absolute;
  }
}
.app__headerIcon {
  display: inline;
  > img {
    width: 30px;
    height: 30px;
    display: inline;
    overflow: hidden;
  }
}
