.main {
  display: block;
  height: inherit;
  @include backgroundImg("pineapple.jpeg");
  position: relative;
  text-align: center;
}
.main__overlay {
  @include overlay(0.5);
}
.main__optionsContainer {
  @include size(400px, 400px);
  position: absolute;
  top:70px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main__title {
  height: 70px;
  @include titleStyle;
  @media all and (max-width: $break-s) {
    font-size: 50px;
  }
}
.main__option {
  margin: 25px auto;
  @include size(250px, 100px);
  font-size: 50px;
  line-height: 100px;
  background-color: rgba(234, 234, 234, 0.7);
  &:hover {
    background-color: rgba(234, 234, 234, 1);
    text-decoration: none;
  }
}
.main__form {
  margin: 25px auto;
  @include size(300px, 300px);
  font-size: 20px;
  // line-height: 20px;
  background-color: rgba(234, 234, 234, 0.7);
  // &:hover {
    // background-color: rgba(234, 234, 234, 1);
    // text-decoration: none;
  // }
}
