.transactions__header {
  @include titleStyle(30px, $contrast-subdominant);
  text-align: center;
  margin-top: 10px;
}
.transactions__options {
  color: $contrast-dominant;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
  padding: 5px 0;
}
table {
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
  table-layout: fixed;
}
th,
td {
  padding: 5px 10px;
  margin: 0;
}
th {
  background-color: $subdominant;
  color: $dominant;
  font-weight: 700;
}
tr:nth-child(even) {
  background-color: $contrast-dominant;
}
tr:hover {
  background-color: $contrast-subdominant;
  cursor: pointer;
}
td {
  text-overflow: ellipsis;
  input {
    border: none;
    outline: none;
    height: 20px;
    width: 100%;
    background: inherit;
    border-bottom: 1px solid $dominant;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
  }
}
.transactions__debit,
.transactions__credit {
  width: 50px;
}
.transactions__budget,
.transactions__category {
  width: 100px;
}
.transactions__occurredOn {
  width: 130px;
}
.transactions__payee,
.transactions__memo {
  width: 200px;
}
.transactions__actionTd {
  width: 100px;
  text-align: center;
}
.transactions__submitNew {
  > div { display: none; }
  > p { display: inherit; width: 100%; }
  .transactions__actionTd:hover & {
    border-bottom: none;
    cursor: pointer;
    > div { display: block; font-size: 2rem; line-height: 15px; }
    > p { display: none; }
  }
}
.transactions__delete {
  > img { display: none; @include size(14px); }
  > div { display: inherit; }
  .transactions__actionTd:hover & {
    border-bottom: none;
    cursor: pointer;
    > img { display: inherit; cursor: pointer; width: 100px; }
    > div { display: none; color: $delete-red; }
  }
}
.transactions__saveEdit {
  > img { display: none; @include size(14px); }
  > div { display: inherit; }
  .transactions__actionTd:hover & {
    border-bottom: none;
    cursor: pointer;
    > img { display: inherit; cursor: pointer; width: 100px; }
    > div { display: none; }
  }
}
