$base-background: #EAEAEA;
$fallback-text: #4D4D4D;

// color scheme
$dominant: #C0CAAD;
$contrast-dominant: #9DA9A0;
$subdominant: #654C4F;
$contrast-subdominant: #B26E63;
$pop: #CEC075;

// breaks for responsive behavior
$break-s: 600px;
$break-m: 900px;
$break-l: 1300px;
