!!!
%html{lang: 'en'}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title MoneyMasters
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "http://fonts.googleapis.com/css?family=Syncopate:400,700|Quicksand:400,700", :rel => "stylesheet"}
    = csrf_meta_tags
  %body
    -# %p{ class: "notice" }
    -#   = notice
    -# %p{ class: "alert" }
    -#   = alert
    = yield
    = javascript_include_tag 'application', async: true
